<dom-module id="online-course">
  <style>
  </style>

  <template>
    <div class="section-wrapper">
      <div class="section-header row">
        <span>[[course.title]]</span>
        &nbsp;<span>-</span>&nbsp;
        <span>[[course.school]]</span>
      </div>
      <div class="section-subheader">[[course.year]]</div>
      <a href="[[course.url]]" target="_blank">[[course.url]]</a>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "online-course",

    initialize: function(course) {
      course.year = (new Date(course.dates)).getFullYear();
      this.course = course;
    }
  });
</script>
