<dom-module id="school-attended">
  <style>
  </style>

  <template>
    <div class="section-wrapper">
      <div class="section-header row">
        <span id="name">[[school.name]]</span>
        &nbsp;<span>-</span>&nbsp;
        <span id="degree">[[school.degree]]</span>
      </div>
      <div class="section-subheader row">
        <span id="year">[[school.year]]</span>
        <span class="flex"></span>
        <span id="location">[[school.location]]</span>
      </div>
      <div class="row">
        <span>Major:</span>&nbsp;
        <span>[[school.major]]</span>
      </div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "school-attended",

    initialize: function(school) {
      school.major = school.majors.join(", ");
      school.year = (new Date(school.dates)).getFullYear();
      this.school = school;
      this.fire("new-location", {bubbles: true, location: school.location});
    }
  })
</script>
