<dom-module id="work-experience">
  <style>
  </style>

  <template>
    <div class="section-wrapper">
      <div class="section-header" class="row">
        <span>[[job.employer]]</span>
        &nbsp;<span>-</span>&nbsp;
        <span>[[job.title]]</span>
      </div>
      <div id="section-subheader" class="row">
        <span>[[job.date]]</span>
        <span class="flex"></span>
        <span>[[job.location]]</span>
      </div>
      <div>
        <ul>
          <template is="dom-repeat" items="[[job.description]]">
            <li>[[item]]</li>
          </template>
        </ul>
      </div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "work-experience",

    initialize: function(job) {
      job.date = this.setDate(job.dateStart, job.dateEnd);
      this.job = job;
      this.fire('new-location', {bubbles: true, location: job.location});
    },

    setDate: function(dateStart, dateEnd) {
      var options = {
        year: "numeric",
        month: "short"
      }
      dateStart = (new Date(dateStart)).toLocaleDateString("en-us", options);
      dateEnd = (dateEnd) ? (new Date(dateEnd)).toLocaleDateString("en-us", options)
        : "Present";
      return dateStart + " - " + dateEnd;
    }
  });
</script>
